# Maven / Build
target/
out/

# Logs
*.log

# Archivos sensibles
src/main/resources/application-local.properties

# IDEs
.metadata/
.settings/
.classpath
.project
.factorypath
.idea/
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos generados / runtime
uploads/

# Java
*.class

# Node / Frontend (por si usas Angular)
node_modules/
dist/